RewriteEngine On
                    
# ## URL's Relativas
# RewriteRule dashboard/ principal.php [L]        

# ## RUTAS PHP DE ENVIO Y RECEPCION DE DATOS

RewriteRule well/ php/01/templates/html/bienvenida.html        

RewriteRule data/ php/01/getDataCat.php [L]        
RewriteRule getLoginUser/ php/01/templates/login-user-pdo.php [L]      
RewriteRule dashboard/ principal.php [L]      
RewriteRule setForgotPassword/ php/01/core/sendMailForgotPassword.php [L]    
RewriteRule sendToken/ php/01/core/sendMailToken.php [L]    

RewriteRule profile/ php/01/templates/profile.php [L]        
RewriteRule profileFoto/ php/01/templates/profile-foto.php [L]        
RewriteRule profilePWD/ php/01/templates/profile-password.php [L]        
RewriteRule profileStatic/ php/01/templates/profile-static.php [L]        

RewriteRule usersConnect/ php/01/templates/usuarios_conectados.php [L]        
RewriteRule session/ php/01/templates/profile-menu-main.php [L]        

RewriteRule fu-tl/ php/01/templates/upload-file-01.php [L]        
RewriteRule fu-ul/ php/01/templates/upload-file-02.php [L]        
RewriteRule fu-wl/ php/01/templates/upload-file-03.php [L]        
RewriteRule fu-xl/ php/01/templates/upload-file-04.php [L]        
RewriteRule fu-yl/ php/01/templates/upload-file-mensaje.php [L]        

RewriteRule fu-ucf/ php/01/templates/upload-croquis-fachada.php [L]        
RewriteRule fu-ufp/ php/01/templates/upload-fotos-planos.php [L]        

RewriteRule cat-estados-list/ php/01/templates/cat_estados_list.php [L]   
RewriteRule cat-estados-prop/ php/01/templates/cat_estados_prop.php [L]   

RewriteRule cat-municipios-list/ php/01/templates/cat_municipios_list.php [L]   
RewriteRule cat-municipios-prop/ php/01/templates/cat_municipios_prop.php [L]   

RewriteRule cat-personas-list/ php/01/templates/cat_personas_list.php [L]   
RewriteRule cat-personas-prop/ php/01/templates/cat_personas_prop.php [L]   


RewriteRule menu-config/ php/01/templates/menus/menu_config.html [L]   
RewriteRule menu-catalogos/ php/01/templates/menus/menu_catalogos.html [L]   

##
## ***************************** C O N T R O L  DE  U  S  U  A  R  I  O  S **************************************
##

RewriteRule cat-usuarios-list/ php/01/templates/cat_usuarios_list.php [L]   
RewriteRule cat-usuario-prop/ php/01/templates/cat_usuario_prop.php [L]   
RewriteRule cat-usuario-change-pwd/ php/01/templates/cat_usuario_change_pwd.php [L]   
RewriteRule cat-usuario-send-message/ php/01/templates/cat_usuarios_send_message.php [L]   
RewriteRule panel-reports/ php/01/templates/panel_reportes_0.php [L]   

RewriteRule cat-usuario-send-notification/ php/01/mobile/Communications/iOS/sendNotification_iOS.php [L]   

RewriteRule sn-android-users-cat/ php/01/mobile/Communications/Android/send_notification_android_users_cat.php [L]   


RewriteCond %{HTTP_HOST} ^www\.imsg\.mx$

## Otros

