                    <li class="open " id="subMenuCatalogos">
                        <a href="#" class="dropdown-toggle">
                                <i class="icon-book"></i>
                                <span class="menu-text">Catálogos</span>
                                <b class="arrow icon-angle-down"></b>
                        </a>

                        <ul class="submenu">

                            <li>
                                <a href="#" id="cat_personas_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Personas</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_empresas_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Empresas</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_tecnicos_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Técnicos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_marcas_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Marcas</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_colores_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Colores</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_eqcat_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Categorias de Equipos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_precios_categorias_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Categorias de Precios</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_unidades_medidas_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Unidades de Medida</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_precios_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Precios</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_estados_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Estados</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" id="cat_municipios_list">
                                    <i class="icon-edit"></i>
                                    <span class="menu-text">Municipios</span>
                                </a>
                            </li>

                        </ul>
                    </li>

<script type="text/javascript">
jQuery(function($) {

    $("#preloaderPrincipal").show();

    if ($("#cat_personas_list").length) {
        $("#cat_personas_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-personas-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Personas'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_empresas_list").length) {
        $("#cat_empresas_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-empresas-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Empresas'));
                }, "html");
            return false;
        });
    }


    if ($("#cat_tecnicos_list").length) {
        $("#cat_tecnicos_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-tecnicos-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Técnicos'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_marcas_list").length) {
        $("#cat_marcas_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-marcas-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Marcas'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_colores_list").length) {
        $("#cat_colores_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-colores-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Colores'));
                }, "html");
            return false;
        });
    }



    if ($("#cat_eqcat_list").length) {
        $("#cat_eqcat_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-equipo_categoria-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Categorías de Equipos'));
                }, "html");
            return false;
        });
    }


    if ($("#cat_unidades_medidas_list").length) {
        $("#cat_unidades_medidas_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-unidad_medida-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Unidades de Medida'));
                }, "html");
            return false;
        });
    }

    if ($("#cat_precios_categorias_list").length) {
        $("#cat_precios_categorias_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-precio_categoria-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Categorías de Precios'));
                }, "html");
            return false;
        });

    }

    if ($("#cat_precios_list").length) {
        $("#cat_precios_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-precio-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Precios'));
                }, "html");
            return false;
        });
    }

    
    if ($("#cat_estados_list").length) {
        $("#cat_estados_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-estados-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Estados'));
                }, "html");
            return false;
        });
    }

    
    if ($("#cat_municipios_list").length) {
        $("#cat_municipios_list").on("click", function(event) {
            event.preventDefault();
            cfgBase0();
            var nc = localStorage.nc;
            $.post(obj.getValue(0) + "cat-municipios-list/", {
                    user: nc
                },
                function(html) {
                    $("#contentMain").html(html);
                    $('#breadcrumb').html(getBar('Inicio,Catálogo de Municipios'));
                }, "html");
            return false;
        });
    }

    $("#preloaderPrincipal").hide();

    $("#menuPrincipal li").on("click", function(event) {
        event.preventDefault();
        $(".nav-list li").removeClass("active");
        if ($('.open').length === null) {
            $(this).addClass("active open");
        }
    });

    function cfgBase0(){
        resizeScreen();
        $("#contentLevel5").empty();
        $("#contentLevel5").hide();
        $("#contentLevel4").empty();
        $("#contentLevel4").hide();
        $("#contentLevel3").empty();
        $("#contentLevel3").hide();
        $("#contentProfile").empty();
        $("#contentProfile").hide();
        $("#contentMain").show();
        $("#contentMain").empty();
        $("#preloaderPrincipal").show();
        obj.setIsTimeLine(false);
    }


    $("#preloaderPrincipal").hide();


})

</script>
